
<header class="header">

  <div id="menu-btn" class="fas fa-bars"></div>

  <a data-aos="zoom-in-left" data-aos-delay="150" href="#" class="logo"> <i class="fa fa-map-signs" aria-hidden="true"></i>Leader </a>

  <nav class="navbar">
      <a data-aos="zoom-in-left" data-aos-delay="300" href="/home">home</a>
      <!-- <a data-aos="zoom-in-left" data-aos-delay="450" href="/about">about</a> -->
      <a data-aos="zoom-in-left" data-aos-delay="450" href="/offre">offre</a>
      <a data-aos="zoom-in-left" data-aos-delay="600" href="/services">services</a>
      <!-- <a data-aos="zoom-in-left" data-aos-delay="900" href="/gallery">gallery</a> -->

      <a data-aos="zoom-in-left" data-aos-delay="750" href="/transport">transport</a>

      

      <% if (user) { %>
             
        <a data-aos="zoom-in-left" data-aos-delay="900" href="/add-new-Trips">your trip</a>
        
      <% }  %>
      




            <% if (!user) { %>
             
                <a data-aos="zoom-in-left" data-aos-delay="900" href="/users/login"> Login</a>
              

              
                  <a data-aos="zoom-in-left" data-aos-delay="1050" href="/users/signup"> Signup</a>
                
              <% } else { %>
              
                <a  data-aos="zoom-in-left" data-aos-delay="1200"class="nav-link" href="/users/logout"> logout</a>
              
              <%}  %>
         
  </nav>

  <a data-aos="zoom-in-left" data-aos-delay="1750" href="/book" class="btn">book now</a>

</header>