
<section class="header">

  <a href="home" class="logo">travel.</a>

  <nav class="navbar">
     <a href="home">home</a>
     <a href="about">about</a>
     <a href="package">package</a>
     <a href="book">book</a>
  </nav>

  <div id="menu-btn" class="fas fa-bars"></div>

</section>