<nav class="main-menu">
  <ul>
      <li>
        <a data-aos="zoom-in-left" data-aos-delay="300" href="/admin/home">
          <i class="fa fa-home fa-2x"></i>
          <span class="nav-text">
            home
       </span>
      </a>
      
    </li>
      <li class="has-subnav">
        <a data-aos="zoom-in-left" data-aos-delay="600" href="/admin/book/all-Book"><i class="fa fa-home fa-2x"></i>
          <span class="nav-text">
            all Book
       </span></a>
      </li>
      <li class="has-subnav">
        <a data-aos="zoom-in-left" data-aos-delay="750" href="/admin/Trips/allTrips"><i class="fa fa-home fa-2x"></i>
          <span class="nav-text">
            Trips
       </span></a> 
      </li>
      <li class="has-subnav">
        <a data-aos="zoom-in-left" data-aos-delay="900" href="/admin/transport/add-new-transport"><i class="fa fa-home fa-2x"></i>
          <span class="nav-text">
            add new transport
       </span></a>
      </li>
     
      <li>
        <a data-aos="zoom-in-left" data-aos-delay="900" href="/admin/add-new-offre"><i class="fa fa-home fa-2x"></i>
          <span class="nav-text">
            add new offre
       </span></a>
      </li>
      

    

      
      




</nav>


