<nav class="main-menu">
  <ul>
      <li>
        <a data-aos="zoom-in-left" data-aos-delay="300" href="/admin/home">
          <i class="fa fa-home fa-2x"></i>
          <span class="nav-text">
            home
       </span>
      </a>
      
    </li>
      <li class="has-subnav">
        <a data-aos="zoom-in-left" data-aos-delay="600" href="/admin/book/all-Book"><i class="fa  fa-book"></i>
          <span class="nav-text">
            all Book
       </span></a>
      </li>
      <li class="has-subnav">
        <a data-aos="zoom-in-left" data-aos-delay="750" href="/admin/Trips/allTrips"><i class="fa fa-suitcase"></i>
          <span class="nav-text">
            Trips
       </span></a> 
      </li>
      <li class="has-subnav">
        <a data-aos="zoom-in-left" data-aos-delay="900" href="/admin/transport/add-new-transport"><i class="fa fa-taxi"></i>
          <span class="nav-text">
            add transport
       </span></a>
      </li>
      <li class="has-subnav">
        <a data-aos="zoom-in-left" data-aos-delay="900" href="/admin/BookTranspor/allBookTranspor"><i class="fa fa-taxi"></i>
          <span class="nav-text">
            all Book Transpor
       </span></a>
      </li>

      <li class="has-subnav">
        <a data-aos="zoom-in-left" data-aos-delay="900" href="/admin/transport"><i class="fa fa-taxi"></i>
          <span class="nav-text">
            all Transpor
       </span></a>
      </li>
     

      <li class="has-subnav">
        <a data-aos="zoom-in-left" data-aos-delay="900" href="/admin/hotel/add-new-hotel"><i class="fa fa fa-bed"></i>
          <span class="nav-text">
            add hotel
       </span></a>
      </li>

      <li class="has-subnav">
        <a data-aos="zoom-in-left" data-aos-delay="900" href="/admin/hotel/add-new-room"><i class="fa fa-bed"></i>
          <span class="nav-text">
            add room
       </span></a>
      </li>
      <li class="has-subnav">
        <a data-aos="zoom-in-left" data-aos-delay="900" href="/admin/Bookhotel/allBookhotel"><i class="fa  fa-bed"></i>
          <span class="nav-text">
            all Book hotel
       </span></a>
      </li>


      <li class="has-subnav">
        <a data-aos="zoom-in-left" data-aos-delay="900" href="/admin/hotel/room"><i class="fa fa fa-bed"></i>
          <span class="nav-text">
            all room
       </span></a>
      </li>

      <li class="has-subnav">
        <a data-aos="zoom-in-left" data-aos-delay="900" href="/admin/hotel"><i class="fa fa fa-bed"></i>
          <span class="nav-text">
            all hotel
       </span></a>
      </li>
     
      <li>
        <a data-aos="zoom-in-left" data-aos-delay="900" href="/admin/add-new-offre"><i class="fa fa-star"></i>
          <span class="nav-text">
            add new offre
       </span></a>
      </li>
      <li class="has-subnav">
        <a data-aos="zoom-in-left" data-aos-delay="900" href="/users/profile"><i class="fa fa-user-circle"></i>
          <span class="nav-text">
            profile
       </span></a>
      </li>
      

    

      
      




</nav>


