<!DOCTYPE html>
<html lang="en">
   <%- include("./partials/head") %> 
<body>
   
<!-- header section starts  -->

<%- include("./partials/header") %>

<div class="banner">

    <div class="content" data-aos="zoom-in-up" data-aos-delay="300">
        <span>start your adventures</span>
        <h3>Let's Explore This World</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatum praesentium amet quibusdam quam officia suscipit odio.</p>
        <a href="book" class="btn">book now</a>
    </div>

</div>

<!-- footer section starts  -->

<%- include("./partials/footer") %>

<!-- footer section ends -->