

<%- include("./partials/head") %> 
<body>
   
<!-- header section starts  -->

<%- include("./partials/header") %>

<!-- header section ends -->



   

<div class="heading m-max">
  
   <h1>book now</h1>
</div>
<!-- booking section starts  -->

<section class="book-form" >


   <div class="heading m">
      <span>book your trip!</span>
    
   </div>

   

   <form action="/book" method="post" class="book-form">

         <div class="inputBox">
            <span>name :</span>
            <input  type="text" placeholder="enter your name" name="name_vol">
         </div>
         <div class="inputBox">
            <span>email :</span>
            <input type="email" placeholder="enter your email" name="email_vol">
         </div>
         <div class="inputBox">
            <span>phone :</span>
            <input type="number" placeholder="enter your number" name="phone_vol">
         </div>
         <div class="inputBox">
            <span>address :</span>
            <input type="text" placeholder="enter your address" name="address_vol">
         </div>
         <div class="inputBox">
            <span>where to :</span>
            <input type="text" placeholder="place you want to visit" name="location_vol">
         </div>
         <div class="inputBox">
            <span>how many :</span>
            <input type="number" placeholder="number of guests" name="prix_vol">
         </div>
         <div class="inputBox">
            <span>arrivals :</span>
            <input type="date" name="arrivals_vol">
         </div>
         <div class="inputBox">
            <span>leaving :</span>
            <input type="date" name="leaving_vol">
         </div>
      

      <input type="submit" value="submit" class="btn" name="send">

   </form>

</section>

<!-- booking section ends -->


<!-- footer section starts  -->

<%- include("./partials/footer") %>

<!-- footer section ends -->