<!DOCTYPE html>
<html lang="en">
   <%- include("./partials/head") %> 
<body>
   
<!-- header section starts  -->

<%- include("./partials/header") %>

<!-- header section ends -->

<!-- home section starts  -->

<section class="home" id="home">

   <div class="content">
       <span data-aos="fade-up" data-aos-delay="150">follow us</span>
       <h3 data-aos="fade-up" data-aos-delay="300">to the unknown</h3>
       <p data-aos="fade-up" data-aos-delay="450">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus quia illum quod perspiciatis harum in possimus? Totam consequuntur officia quia?</p>
       <a data-aos="fade-up" data-aos-delay="600" href="book" class="btn">book now</a>
   </div>

</section>


<section class="book-form book-home" id="book-home ">

   <form action="">
       <div data-aos="zoom-in" data-aos-delay="150" class="inputBox">
           <span>where to?</span>
           <input type="text" placeholder="place name" value="">
       </div>
       <div data-aos="zoom-in" data-aos-delay="300" class="inputBox">
           <span>when?</span>
           <input type="date" value="">
       </div>
       <div data-aos="zoom-in" data-aos-delay="450" class="inputBox">
           <span>how many?</span>
           <input type="number" placeholder="number of travelers" value="">
       </div>
       <input data-aos="zoom-in" data-aos-delay="600" type="submit" value="find now" class="btn">
   </form>

</section>


<!-- home offer section ends -->





<!-- footer section starts  -->

<%- include("./partials/footer") %>

<!-- footer section ends -->











<!-- footer section starts  -->

<%- include("./partials/footer") %>

<!-- footer section ends -->











</body>
</html>