
<%- include("../partials/head") %> 

   
<!-- header section starts  -->





    <section class="login" >

    <div class="heading m-max">
    
 </div>
    <!-- <div class="book" > -->
        
    <!-- <div class="content" data-aos="fade-left" data-aos-delay="600"> -->
    
        
      
        <form  action="/users/login" method="post" class="form">
            
            <h3>Login Here</h3>
            <%- include('../partials/flashMessages') -%>  
            <div class="inputBox">
                <label for="email"><span>Email</span></label>
                <input type="text" name="email" id="email" class="form-control">
            </div>

           
            
            <div class="inputBox">
                <label for="password"><span>Password</span></label>
                <input type="password" name="password" id="password" class="form-control">
            </div>
            
                <div class="inputBox">
                    <button type="submit" class="btn btn-primary"> Login</button>
                </div>

                <a class="nav-link" href="/users/signup"> Signup</a>
        </form>

    </div>
 
 </section>

<%- include("../partials/footer-script.ejs") %> 
